@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4CAF50; /* Puedes cambiar el color a tu gusto */
  color: #ffffff; /* Cambia el color del texto para que contraste */
}